.bio{
         width:45%;
         border: 2px solid black;
    }
    
    .title{
        background-color: #FF00FF;
        padding: 1em;
        padding-bottom:1em solid black;
        color:black;
        font-family: avenir sans-serif;
    }
    
    .image img{
        width:30%;
        float: left;
        padding: 16px
    }
    
    .text{
        background-color:lightgray;
        padding:0em;
        height: 100%;
        align-content: center;
    }
    
