/* html{
    scroll-behavior: smooth;
}*/

.containerForBio{
        width:100%;
        background-color: #f9f1f1;
        color:#0000ff;
        position:relative;
        padding-bottom: 1em;
}

a{
    color:#0000ff !important;
}
    
.title{
    font-family: 'Montserrat';
    text-align: center;
    position: relative;
    padding:5em;
    padding-bottom:2em;
    margin-bottom: 2em;
    border-bottom:1px solid #0000ff;
       
        }
.btn-link{
    color:#0000ff !important;
    transition: 'blogTitle' 1s ease;
    text-decoration:underline !important;
    float:right;
   
        }

.title h2{
    width: 89.68%;
    float:left;
           
        }

.textBody{
    font-family: 'helvetica neue';
    padding:3em;
    }

.col-sm-4{
text-align: left;
}

.col-sm-4 img{
    width:79%;
    height:85%;
   
    
}

.links1{
    text-decoration: underline;
}


.bioFooter{
        font-family: 'helvetica neue';
        text-align: center;
        position: relative;
        padding:.5em;
        margin-top:1em;
        color:#0000ff;
        
}
        
.containerForBlog{
    background-color:#f1f8f8 !important;
    color:#e0115f;
}

#blogTitle{
    padding-top: 15em;
    font-family: 'helvetica neue';
    position:relative;
    left:1.8em;
    top:-6em;
    text-transform: uppercase;
}

.topBtn{
    cursor:pointer !important;
    color:#e0115f;
    font-size: 2em !important;
}

.blogContainer{
    padding: 2.5em;
    border-bottom: 2px solid #e0115f;
    font-family: lato;
}

.assignmentTitle{
    position:relative;
    top:1em;
    left:2em;
}

.col-sm-3{
    position:relative;
    text-align:center;
    background-color:#f1f8f8 !important;
    color:#e0115f !important;
    
}

.col-sm-3 img{
    position:relative;
    height:46%;
    width:91%;
    text-align: center;
    
    }
.col-sm-3 video{
    height:95%;
    width:90%;
}

.col-sm-7{
    position:relative;
    text-align:left;
    
    }
.carousel-inner img{
    width: 100%;
    height: 100%;
    position:relative;

}

#soundBtn{
    cursor:pointer;
    font-size: 5em;
    color:#e0115f !important;
}
    
